<p>viewport-lazy works!</p>
<p>viewport-lazy works!</p>
<p>
    Una de las características que más me ha gustado de ES6, object.assign el cual nos permite introducir nuevos datos a un objeto ya creado, copiando la características del objeto principal. Esto es muy útil cuando te envían un objeto al que quieres llenarle más propiedades.

Veamos unos ejemplos de cómo funciona el object.assign.

En si lo que object.assign hace es clonar un objeto principal de uno o más objetos y retornar un nuevo objeto con los valores de los anteriores
Una de las características que más me ha gustado de ES6, object.assign el cual nos permite introducir nuevos datos a un objeto ya creado, copiando la características del objeto principal. Esto es muy útil cuando te envían un objeto al que quieres llenarle más propiedades.

Veamos unos ejemplos de cómo funciona el object.assign.

En si lo que object.assign hace es clonar un objeto principal de uno o más objetos y retornar un nuevo objeto con los valores de los anteriores
</p>
<p>
    Una de las características que más me ha gustado de ES6, object.assign el cual nos permite introducir nuevos datos a un objeto ya creado, copiando la características del objeto principal. Esto es muy útil cuando te envían un objeto al que quieres llenarle más propiedades.

Veamos unos ejemplos de cómo funciona el object.assign.

En si lo que object.assign hace es clonar un objeto principal de uno o más objetos y retornar un nuevo objeto con los valores de los anteriores
Una de las características que más me ha gustado de ES6, object.assign el cual nos permite introducir nuevos datos a un objeto ya creado, copiando la características del objeto principal. Esto es muy útil cuando te envían un objeto al que quieres llenarle más propiedades.

Veamos unos ejemplos de cómo funciona el object.assign.

En si lo que object.assign hace es clonar un objeto principal de uno o más objetos y retornar un nuevo objeto con los valores de los anteriores
</p>

